/****************************************************************
  VAR 
****************************************************************/
:root{
  --back-green:#1ABC9C;
  --light-grey:#3A546D;
  --dark-grey:#2C3E50;
}
/****************************************************************
  GENERAL
****************************************************************/
header,
.back-green,
footer{
color: white;
}
.container_ap{
  width: 65%;
}
.back-green{
  background-color: var(--back-green);
  color: white;
}
.nav_collap_bg{
  background-color: var(--dark-grey);
}
/****************************************************************
  STAR
****************************************************************/
.star::before{
  content: "";
  position: absolute;
  right: 30%;
  bottom: 50%;
  width: 13%;
  height: 2px;
  background-color: var(--dark-grey);
  border-radius: 4px;
  transform-origin: center;
}
.star::after{
  content: "";
  position: absolute;
  left: 30%;
  bottom: 50%;
  width: 13%;
  height: 2px;
  background-color: var(--dark-grey);
  border-radius: 4px;
  transform-origin: center;
}
.back-green .star::before{
  content: "";
  position: absolute;
  right: 30%;
  bottom: 50%;
  width: 13%;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  transform-origin: center;
}
.back-green .star::after{
  content: "";
  position: absolute;
  left: 30%;
  bottom: 50%;
  width: 13%;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  transform-origin: center;
}
/****************************************************************
  PERSONAL CHANGES
****************************************************************/
div .personal_input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding-left: 0;
}
div .personal_input::placeholder{
  color: black;
  font-weight: 400;
}
.personal_btn{
  background-color: var(--back-green);
  color: white;
}
/****************************************************************
  DEBUG
****************************************************************/
.debug{
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid black;
}
.ltl-debug-box{
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(216, 9, 9, 0.507);
}
.debug-box{
  min-height: 400px;
  min-width: 400px;
  background-color: rgba(216, 9, 9, 0.507);
}
/****************************************************************
  HEADER
****************************************************************/
header{
  height: 60px;
  background-color: var(--dark-grey);
}
/****************************************************************
  FOOTER
****************************************************************/
.footer-bottom{
  background-color: var(--dark-grey);
}
.footer-top{
  background-color: var(--light-grey);
}
footer h4{
  text-transform: uppercase;
}
.icon-cercle-box{
  border-radius: 50%;
  border: 1px solid white;
}