/****************************************************************
  VAR 
****************************************************************/
:root{
  --back-green:#1ABC9C;
  --light-grey:#3A546D;
  --dark-grey:#2C3E50;
}
/****************************************************************
  GENERAL
****************************************************************/
header,
footer{
  background-color: var(--dark-grey);
}
[class^="col"]{
  background-color: rgba(255, 0, 0, 0.425);
}
/****************************************************************
  HEADER
****************************************************************/
header{
  height: 60px;
}
/****************************************************************
  FOOTER
****************************************************************/
