/****************************************************************
  VAR 
****************************************************************/
:root{
  --back-green:#1ABC9C;
  --light-grey:#3A546D;
  --dark-grey:#2C3E50;
}
/****************************************************************
  GENERAL
****************************************************************/
header,
footer{
  background-color: var(--dark-grey);
}
.back-green{
  background-color: var(--back-green);
}
/****************************************************************
  DEBUG
****************************************************************/
.debug{
  min-height: 50px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid black;
}
.debug-cercle{
  min-height: 150px;
  min-width: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.507);
  border: 1px solid black;
}
.debug-box{
  min-height: 400px;
  min-width: 400px;
  background-color: rgba(216, 9, 9, 0.507);
}
/****************************************************************
  HEADER
****************************************************************/
header{
  height: 60px;
}
/****************************************************************
  FOOTER
****************************************************************/
